<footer>
  <div class="footer-header">
    <div class="footer-header-content not-drag">
    </div>
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col col-md-4 col-12 footer-logo"></div>
      <div class="col col-md-8 col-12 footer-description">
        <p>
          Korean Diabetes Association<br>
          (04146) 101-2104, Lotte Castle President, 109 Mapo-gu, Seoul, 04146, Korea<br>
          E-mail: icdm@diabetes.or.kr<br><br>
          Congress Secretariat (Peple&Value)<br>
          A-1108, Doosan The Land Park, 161-8, Magokjungang-ro, Gangseo-gu, Seoul, Korea<br>
          TEL: 82-2-2135-3617,3618 FAX: 82-564-2123 E-mail: icdm@diabetes.or.kr
        </p>
      </div>
    </div>
  </div>
</footer>
