<div class="agenda-list">
  <div class="agenda-list-item" *ngIf="programLive && speakerId">
    <p class="title">
      LIVE
    </p>
    <ng-container *ngFor="let agenda of programLive">
      <div role="button" class="item-live" (click)="goLive(agenda)">
        <span class="item-time">{{agenda.date.date | date:('yyyy.MM.dd (EEE.)')}}</span>
        <p class="item-title">{{agenda.isSession?agenda.subTitle:agenda.title}}</p>
        <p class="ellipsis line" [innerHtml]="agenda.description">
        </p>
      </div>
    </ng-container>
  </div>
</div>
