.temp-font {
  font-size: 24px;
}

.vod-title {
  font-size: 18px;
  margin-top: 32px !important;
  width: 100%;
  max-width: 977px;
  margin: 0 auto;
  background: rgb(253, 240, 193);
  padding: 2px 8px;
}

.vod-table {
  .vod-table-header {
    color: var(--white);
    background: var(--main-color) !important;
  }

  td {
    padding: 2px 8px;
  }

  cursor:pointer;
}

.timetable-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

.korea-time-wrapper {
  display: flex; // ! ICDM 커스텀
  justify-content: center; // ! ICDM 커스텀
  width: 100%;
  max-width: 977px;
  height: 45px;
  margin: 0 auto;

  .korea-time {
    // float: right; // ! ICDM 커스텀 주석
    width: 230px;
    position: relative;
    color: var(--gray10);
    font-size: 1.4rem;

    img {
      width: 45px;
      margin-right: 12px;
    }

    .korea-image {
      position: absolute;
      width: 45px;
      top: -4px;
      left: -26px;
    }
  }
}

.timetable-nav {
  font-size: 1.33rem;

  .timetable-title {
    height: 64px;
    line-height: 64px;
    background: var(--gray6);
    text-align: center;
  }

  .timetable-list {
    margin-bottom: 48px;
    // border: 1px solid var(--gray22);
  }

  .content-inner {
    display: flex;
    justify-content: center;
    max-width: 780px;
  }

  .nav-item {
    flex: 0 0 40%;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    height: 64px;
    background: var(--white);
    border: 1px solid var(--gray22);

    font-size: 1.4rem;

    &>a {
      height: 100%;
      display: block;
      color: var(--white);
      line-height: 64px;
      text-align: center;
      text-decoration: none;
      background: var(--main-color);

      &.active,
      &:hover {
        background: var(--main-color-active);
      }
    }
  }
}

.timetable {
  .txt-korean-session {
    color: var(--red);
    max-width: 977px;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
  }

  .timetable-label {
    margin-bottom: 8px;
    color: var(--red);
    font-size: 1.2rem;
  }

  table {
    max-width: 977px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;

    th {
      font-weight: 500;
    }

    tr {
      .date {
        text-align: left;
      }
    }

    th {
      padding: 7px 5px 9px;
      height: 45px;
      position: relative;
      color: var(--white);
      background: var(--main-color);
      font-size: 1.2rem;
      font-weight: 700;
      text-align: center;
      border: 1px solid #ccc;
    }

    td {
      b {
        font-weight: 700;
      }

      &.bold {
        font-weight: 700;
      }

      word-break: break-word;

      height: 45px;

      font-size: 16px;
      font-weight: 500;

      line-height: 1.6;
      text-align: center;
      background: var(--white);

      border: 1px solid var(--black);

      &:nth-child(n+2):hover {
        background: rgba(0, 0, 0, 0.1);
        transition: all 0.3s linear;
        cursor: pointer;
      }

      &.bg_pink {
        background: rgb(244, 217, 235);
      }

      &.bg_pink_dark {
        background: rgb(231, 171, 209);
      }

      &.bg_orange {
        background: rgb(253, 234, 225);
      }

      &.bg_orange_dark {
        background: rgb(246, 201, 177);
      }

      &.bg_sky {
        background: rgb(216, 235, 237);
      }

      &.bg_sky_dark {
        background: rgb(176, 215, 220);
      }

      &.bg_green {
        background: rgb(252, 255, 226);
      }

      &.bg_green_dark {
        background: rgb(245, 252, 159);
      }

      &.bg_green_1 {
        background: rgb(154, 190, 56);
      }

      &.bg_green_2 {
        background: rgb(83, 181, 85);
        color: var(--white);
      }

      &.bg_purple {
        background: rgb(125, 44, 187);
        color: var(--white);
      }

    }
  }
}

.session-detail-btn {
  display: none;
}

// 세션 상세 모달
.modal-dialog {
  max-width: 800px;

  .modal-content {
    max-height: 500px;
    overflow-y: scroll;

    .modal-description {
      font-size: 16px;

      .modal-description-header {
        display: flex;
        padding: 2px 8px;
        background: var(--main-color);
        min-height: 40px;
        align-items: center;
        font-weight: 700;
        color: var(--white);

        .close {
          position: absolute;
          right: 12px;

          color: var(--white);
          opacity: 1.0 !important;
        }
      }

      .modal-description-body {
        cursor: pointer;

        .session-info {
          background: var(--gray26);
          color: var(--black);
          min-height: 80px;

          display: flex;

          .lt {
            width: 70%;
            border-right: 1px solid white;

            .session-title {
              padding: 2px 8px;
              display: flex;
              height: 100%;
              align-items: center;
            }
          }

          .rt {
            width: 30%;

            .session-speaker-list {
              padding: 2px 8px;

              .speaker-name {
                margin-right: 4px;
                font-weight: bold;
              }
            }
          }
        }

        .sub-list {
          .sub-list-item {
            display: flex;
            width: 100%;
            border-bottom: 1px solid var(--gray26);
            min-height: 70px;

            .sub-agenda-time-wrapper {
              width: 15%;
              border-right: 1px solid var(--gray26);

              .sub-agenda-time {
                padding: 2px 8px;
                display: flex;
                height: 100%;
                align-items: center;
              }
            }

            .sub-agenda-title-wrapper {
              width: 55%;
              border-right: 1px solid var(--gray26);

              .sub-agenda-title {
                padding: 2px 8px;
                display: flex;
                height: 100%;
                align-items: center;
              }
            }

            .sub-agenda-speakers-wrapper {
              width: 30%;

              .sub-agenda-speakers-container {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;

                .sub-agenda-speakers {
                  padding: 2px 8px;

                  .sub-agenda-speaker-name {
                    margin-right: 4px;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }

        @media (max-width:575px) {
          & {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .timetable {
    table {

      th,
      td {
        font-size: 12px;
      }
    }
  }

  .content-inner {
    width: 80%;
  }
}

@media(max-width: 575px) {

  .timetable-nav {
    .nav-item {
      &>a {
        line-height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
