<div class="timetable-wrapper">
  <div class="korea-time-wrapper" *ngIf="koreaTime">
    <div class="korea-time">
      <img src="assets/img/south-korea.png">{{ koreaTime }}
    </div>
  </div>
  <div class="timetable-nav">
    <div class="timetable-list">
      <div class="content-inner">
        <div class="nav-item"><a [ngClass]="{'active':date===1}" (click)="setDate(1)">2021.10.07 (Thu)</a></div>
        <div class="nav-item"><a [ngClass]="{'active':date===2}" (click)="setDate(2)">2021.10.08 (Fri)</a></div>
        <div class="nav-item"><a [ngClass]="{'active':date===3}" (click)="setDate(3)">2021.10.09 (Sat)</a></div>
      </div>
    </div>
  </div>
  <div class="timetable">
    <div class="txt-korean-session">
      (K) Korean Session
    </div>
    <!-- ! -------------------------Day 1------------------------- -->
    <table class="program" #table1 *ngIf="date === 1">
      <colgroup>
        <col style="width:12%">
        <col style="width:22%">
        <col style="width:22%">
        <col style="width:22%">
        <col style="width:22%">
      </colgroup>
      <thead>
        <th>Time</th>
        <th>Channel A</th>
        <th>Channel B</th>
        <th>Channel C</th>
        <th>Channel D</th>
      </thead>
      <tbody>
        <tr>
          <td>14:00-16:00</td>
          <td (click)="getSessionDetail('614d207c125e990012d56d3c')" class="bg_pink">RS1 Research group on diabetic
            vascular cell biology
            session</td>
          <td class="bg_orange" (click)="getSessionDetail('614d2107125e990012d56d44')">RS2 Research group on diabetic
            neuropathy</td>
          <td class="bg_sky" (click)="getSessionDetail('614d392674750a0012482778')">RS3 Research group on diabetic
            nephropathy</td>
          <td class="bg_green" (click)="getSessionDetail('614d3a5f74750a001248277c')">RS4 Research group on fatty liver
            disease</td>
        </tr>
        <tr>
          <td>16:00-16:10</td>
          <td colspan="4">Break</td>
        </tr>
        <tr>
          <td>16:10-16:30</td>
          <td colspan="4" class="bg_green_1" (click)="getSessionDetail('6152f00cfab1b20013a31574')">KDA outstanding
            citizenship and leadership award lecture (K)</td>
        </tr>
        <tr>
          <td>16:30-18:30</td>
          <td class="bg_pink_dark" (click)="getSessionDetail('614d1fd4125e990012d56d33')">S1 Clinical diabetes and
            therapeutics 1</td>
          <td class="bg_orange_dark" (click)="getSessionDetail('6153ab9afab1b20013a31623')">S2 Education and integrated
            care 1 (K)</td>
          <td class="bg_sky_dark" (click)="getSessionDetail('6153b141fab1b20013a3164e')">S3 Epidemiology and genetics 1
          </td>
          <td class="bg_green_dark" (click)="getSessionDetail('6153b5c4fab1b20013a31665')">S4 Islet biology -AIBIS/AASD
            1</td>
        </tr>
        <tr>
          <td>18:30-19:30</td>
          <td colspan="4">Break</td>
        </tr>
        <tr>
          <td>19:30-20:00</td>
          <td colspan="4" class="bg_green_2" (click)="getSessionDetail('6153a4f8fab1b20013a315f4')">Presidential lecture
            1-2020 The Xiaoren Pan Distinguished Research Award
            for Epidemiology of
            Diabetes in Asia</td>
        </tr>
        <tr>
          <td>20:00-20:30</td>
          <td colspan="4" class="bg_purple" (click)="getSessionDetail('6153a5dafab1b20013a315ff')">Memorial session for
            Prof. Susumu Seino</td>
        </tr>
      </tbody>
    </table>

    <!-- ! -------------------------Day 2------------------------- -->
    <table class="program" #table2 *ngIf="date === 2">
      <colgroup>
        <col style="width:12%">
        <col style="width:22%">
        <col style="width:22%">
        <col style="width:22%">
        <col style="width:22%">
      </colgroup>
      <thead>
        <th>Time</th>
        <th>Channel A</th>
        <th>Channel B</th>
        <th>Channel C</th>
        <th>Channel D</th>
      </thead>
      <tbody>
        <tr>
          <td>09:00-11:00</td>
          <td class="bg_pink_dark" (click)="getSessionDetail('6153c712fab1b20013a316ac')">S5 Clinical diabetes and
            therapeutics 2</td>
          <td class="bg_orange_dark" (click)="getSessionDetail('6153dbf2fab1b20013a31754')">S6 Diabetic complications 1
          </td>
          <td class="bg_sky_dark" (click)="getSessionDetail('6153fe30fab1b20013a31798')">S7 Basic Research 1</td>
          <td class="bg_green_dark" (click)="getSessionDetail('6154055efab1b20013a317e2')">S8 Translational Research 1
          </td>
        </tr>
        <tr>
          <td>11:00-11:20</td>
          <td colspan="4">Break</td>
        </tr>
        <tr>
          <td>11:20-11:30</td>
          <td colspan="4">Opening address</td>
        </tr>
        <tr>
          <td>11:30-12:10</td>
          <td colspan="4" class="bg_green_1" (click)="getSessionDetail('6153ca12fab1b20013a316b6')">Plenary lecture 1
            (ICDM)</td>
        </tr>
        <tr>
          <td>12:10-12:20</td>
          <td colspan="4">Break</td>
        </tr>
        <tr>
          <td>12:20-12:40</td>
          <td class="bg_pink" (click)="getSessionDetail('6153ce0ffab1b20013a31714')">Satellite symposium 1</td>
          <td class="bg_orange" (click)="getSessionDetail('6153f248fab1b20013a31768')">Satellite symposium 2</td>
          <td class="bg_sky" (click)="getSessionDetail('6153ff33fab1b20013a317a3')">Satellite symposium 3</td>
          <td class="bg_green" (click)="getSessionDetail('615406b3fab1b20013a317e8')">Satellite symposium 4</td>
        </tr>
        <tr>
          <td>12:40-13:20</td>
          <td colspan="4">Poster viewing</td>
        </tr>
        <tr>
          <td>13:20-15:20</td>
          <td class="bg_pink_dark" (click)="getSessionDetail('6153d1bcfab1b20013a31722')">S9 Clinical diabetes and
            therapeutics 3</td>
          <td class="bg_orange_dark" (click)="getSessionDetail('6153f4bdfab1b20013a31774')">S10 Diabetic complications 2
            (K)</td>
          <td class="bg_sky_dark" (click)="getSessionDetail('6153ffc4fab1b20013a317ac')">S11 Basic Research 2</td>
          <td class="bg_green_dark" (click)="getSessionDetail('61540739fab1b20013a317eb')">S12 Islet biology -AIBIS/AASD
            2</td>
        </tr>
        <tr>
          <td>15:20-15:30</td>
          <td colspan="4">Break</td>
        </tr>
        <tr>
          <td>15:30-16:00</td>
          <td colspan="4" class="bg_green_2" (click)="getSessionDetail('6153d44bfab1b20013a31730')">Presidential lecture
            2-2021 The Masato Kasuga Award for Outstanding
            Scientific Achievement
          </td>
        </tr>
        <tr>
          <td>16:00-17:30</td>
          <td class="bg_pink" (click)="getSessionDetail('6153d4e3fab1b20013a31732')">CS1 Committee of clinical practice
            guideline</td>
          <td class="bg_orange" (click)="getSessionDetail('6153f92afab1b20013a31783')">CS2 Committee of the health
            insurance and legislation (K)</td>
          <td class="bg_sky" (click)="getSessionDetail('6154012ffab1b20013a317b9')">CS3 Diabetes and metabolism journal
            session</td>
          <td class="bg_green" (click)="getSessionDetail('61540963fab1b20013a317f3')">CS4 Committee of international
            liaison</td>
        </tr>
        <tr>
          <td>17:30-17:40</td>
          <td colspan="4">Break</td>
        </tr>
        <tr>
          <td>17:40-18:40</td>
          <td class="bg_pink" (click)="getSessionDetail('6153d6a8fab1b20013a3173d')">Oral presentation 1</td>
          <td class="bg_orange" (click)="getSessionDetail('6153fcdefab1b20013a3178a')">Oral presentation 2</td>
          <td class="bg_sky" (click)="getSessionDetail('615402b2fab1b20013a317c9')">Oral presentation 3</td>
          <td class="bg_green" (click)="getSessionDetail('61540b3cfab1b20013a317fe')">Oral presentation 4</td>
        </tr>
        <tr>
          <td>18:40-19:30</td>
          <td colspan="4">Break</td>
        </tr>
        <tr>
          <td>19:30-20:00</td>
          <td colspan="4" class="bg_green_2" (click)="getSessionDetail('6153dac6fab1b20013a31750')">Presidential lecture
            3-2020 The Masato Kasuga Award for Outstanding
            Scientific Achievement
          </td>
        </tr>
        <tr>
          <td>20:00-20:30</td>
          <td colspan="4" class="bg_green_2" (click)="getSessionDetail('6153db4dfab1b20013a31752')">Presidential lecture
            4-2020 The Yutaka Seino Distinguished Leadership Award
          </td>
        </tr>
      </tbody>
    </table>

    <!-- ! -------------------------Day 3------------------------- -->
    <table class="program" #table3 *ngIf="date === 3">
      <colgroup>
        <col style="width:12%">
        <col style="width:22%">
        <col style="width:22%">
        <col style="width:22%">
        <col style="width:22%">
      </colgroup>
      <thead>
        <th>Time</th>
        <th>Channel A</th>
        <th>Channel B</th>
        <th>Channel C</th>
        <th>Channel D</th>
      </thead>
      <tbody>
        <tr>
          <td>08:30-08:50</td>
          <td class="bg_pink" (click)="getSessionDetail('61540e0dfab1b20013a31807')">Satellite symposium 5</td>
          <td class="bg_orange" (click)="getSessionDetail('615412c4fab1b20013a31838')">Satellite symposium 6</td>
          <td class="bg_sky" (click)="getSessionDetail('61541af1fab1b20013a31872')">Satellite symposium 7</td>
          <td class="bg_green" (click)="getSessionDetail('61541f00fab1b20013a318a0')">Satellite symposium 8</td>
        </tr>
        <tr>
          <td>09:00-11:00</td>
          <td class="bg_pink_dark" (click)="getSessionDetail('61540e9bfab1b20013a31809')">S13 Clinical diabetes and
            therapeutics 4</td>
          <td class="bg_orange_dark" (click)="getSessionDetail('6154132efab1b20013a3183d')">S14 Diabetes complications 3
          </td>
          <td class="bg_sky_dark" (click)="getSessionDetail('61541b50fab1b20013a31877')">S15 Epidemiology and genetics 2
          </td>
          <td class="bg_green_dark" (click)="getSessionDetail('61541f81fab1b20013a318a3')">S16 Translational Research 2
          </td>
        </tr>
        <tr>
          <td>11:00-11:10</td>
          <td colspan="4">Break</td>
        </tr>
        <tr>
          <td>11:10-11:40</td>
          <td colspan="4" class="bg_green_2" (click)="getSessionDetail('61540f95fab1b20013a31816')">Presidential lecture
            5-2021 The Yutaka Seino Distinguished Leadership Award
          </td>
        </tr>
        <tr>
          <td>11:40-12:20</td>
          <td colspan="4" class="bg_green_1" (click)="getSessionDetail('61541008fab1b20013a31818')">Plenary lecture 2
            (ICDM)</td>
        </tr>
        <tr>
          <td>12:20-12:40</td>
          <td class="bg_pink" (click)="getSessionDetail('61541065fab1b20013a3181a')">Satellite symposium 9</td>
          <td class="bg_orange" (click)="getSessionDetail('6154188cfab1b20013a31858')">Satellite symposium 10</td>
          <td class="bg_sky" (click)="getSessionDetail('61541c0efab1b20013a3187d')">Satellite symposium 11</td>
          <td></td>
        </tr>
        <tr>
          <td>12:40-13:20</td>
          <td colspan="4">Poster viewing</td>
        </tr>
        <tr>
          <td>13:20-14:20</td>
          <td class="bg_pink" (click)="getSessionDetail('615410d3fab1b20013a3181f')">Oral presentation 5</td>
          <td class="bg_orange" (click)="getSessionDetail('61541985fab1b20013a31869')">Oral presentation 6</td>
          <td class="bg_sky" (click)="getSessionDetail('61541cd2fab1b20013a31882')">Oral presentation 7</td>
          <td class="bg_green" (click)="getSessionDetail('61542049fab1b20013a318ad')">Oral presentation 8</td>
        </tr>
        <tr>
          <td>14:20-14:30</td>
          <td colspan="4">Break</td>
        </tr>
        <tr>
          <td>14:30-16:30</td>
          <td class="bg_pink_dark" (click)="getSessionDetail('615411d8fab1b20013a31827')">S17 Clinical diabetes and
            therapeutics 5</td>
          <td class="bg_orange_dark" (click)="getSessionDetail('61541a25fab1b20013a3186d')">S18 Education and integrated
            care 2 (K)</td>
          <td class="bg_sky_dark" (click)="getSessionDetail('61541e1ffab1b20013a3189a')">S19 Epidemiology and genetics 3
          </td>
          <td class="bg_green_dark" (click)="getSessionDetail('615420dc005d950014d50182')">S20 Islet biology -AIBIS/AASD
            3</td>
        </tr>
        <tr>
          <td>16:30-</td>
          <td colspan="4">Closing ceremony</td>
        </tr>
      </tbody>
    </table>


    <div class="vod-title">
      &#8251; <span style="color:var(--red);">VOD세션은 <span style="text-decoration: underline;">평점이 인정되지 않는
          세션</span>입니다.</span>
    </div>
    <table class="vod-table" (click)="goVod()">
      <tr>
        <td class="vod-table-header">VOD session</td>
      </tr>
      <tr>
        <td class="text-left">VOD1 Education and integrated care 3 ― Education for successful initiation of insulin
          therapy</td>
      </tr>
      <tr>
        <td class="text-left">
          VOD2 Basic Research 3 ― Cellular senescence and diabetes
        </td>
      </tr>
      <tr>
        <td class="text-left">
          VOD3 International education course ― Comprehensive education course for Asian diabetes educators
        </td>
      </tr>
    </table>
  </div>
</div>

<button #sessionDetailBtn class="session-detail-btn" data-toggle="modal" data-target="#sessionDetailModal">
  session detail modal open
</button>

<!-- ! 세션 상세 모달 -->
<div class="modal session-detail fade" id="sessionDetailModal" data-backdrop="static" role="dialog"
  aria-labelledby="sessionDetailModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-description" *ngIf="selectedAgenda">
          <div class="modal-description-header">
            Session Detail
            <button type="button" class="ml-2 mb-1 close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-description-body" (click)="goLiveV2(selectedAgenda.dateId,selectedAgenda.roomId)">
            <div class="session-info">
              <div class="lt">
                <div class="session-title">
                  {{selectedAgenda.subTitle}}
                </div>
              </div>
              <div class="rt">
                <div class="session-speaker-list">
                  Chairperson:
                  <div class="session-speaker" *ngFor="let speaker of selectedAgenda.speakers">
                    <div class="speaker-name">{{speaker.fullName}}</div>
                    <div class="speaker-company">{{speaker.company}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sub-list" *ngIf="selectedSubList">
              <div *ngFor="let agenda of selectedSubList" class="sub-list-item">
                <div class="sub-agenda-time-wrapper">
                  <div class="sub-agenda-time">{{agenda.startTime}}-{{agenda.endTime}}</div>
                </div>
                <div class="sub-agenda-title-wrapper">
                  <div class="sub-agenda-title">{{agenda.title}}</div>
                </div>
                <div class="sub-agenda-speakers-wrapper">
                  <div class="sub-agenda-speakers-container">
                    <div class="sub-agenda-speakers" *ngFor="let speaker of agenda.speakers">
                      <div class="sub-agenda-speaker-name">{{speaker.fullName}}</div>
                      <div class="sub-agenda-speaker-company">{{speaker.company}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
