<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div>
        <ng-container *ngFor="let speakerCategory of speakerCategories">
          <div class="title-wrapper">
            <h2>{{speakerCategory.categoryName}}</h2>
          </div>
          <article>
            <div class="list-wrapper row m-0">
              <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
                *ngFor="let speaker of speakerCategory.speakers">
                <app-speaker [speaker]="speaker" (speakerDetailFn)="getDetail($event)"></app-speaker>
              </div>
            </div>
          </article>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<!-- speakers modal -->
<div class="modal detail-modal fade" id="speakersModal" tabindex="-1" role="dialog"
  aria-labelledby="speakersModal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="speakers" *ngIf="speakerDetail">
          <div class="photo">
            <div class="image-wrapper">
              <img [src]="speakerDetail.photoUrl?speakerDetail.photoUrl:'assets/img/default_lecturer.png'" alt="speakerDetail.name">
            </div>
            <div class="item-info">
              <p class="item-name">{{speakerDetail.fullName || ''}}</p>
              <p class="item-company">{{speakerDetail.company || ''}}</p>
              <span class="item-company-title">{{speakerDetail.title || ''}}</span>
            </div>
          </div>
          <figcaption>
            <div class="item-desc" *ngIf="speakerDetail.description">
              <p [innerHTML]="speakerDetail.description"></p>
            </div>
            <ng-container *ngIf="speakerLoaded">
              <app-program-live [speakerId]="speakerDetail.id" [program-live]="speakerDetail.agenda"></app-program-live>
            </ng-container>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
