<!--  !---------------------------Publish START--------------------------- -->
<div class="sponsors">
  <div class="top_btn" (click)="goTop()"></div>
  <div class="section1">
    <div class="line1 justy_center">
      <img src="../../../assets/img/e-booth/diamond_banner.png">
    </div>
    <div class="dia_line">
      <div>
        <img class="booth" src="../../../assets/img/e-booth/diamond_booth1.png"
          (click)="getDetailV2('614134dbfa3182001279e3ef')" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
        <img class="flag flag1" src="../../../assets/img/e-booth/diamond_flag1.png">
      </div>
      <div>
        <img class="booth" src="../../../assets/img/e-booth/diamond_booth2.png"
          (click)="getDetailV2('61413e27fa3182001279e40a')" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
        <img class="flag flag2" src="../../../assets/img/e-booth/diamond_flag2.png">
      </div>
    </div>
    <a href="https://peoplenvalue.ovice.in/lobby/enter" target="_blank">
      <div class="exhibition_btn"></div>
    </a>

  </div>
  <div class="section2">
    <div class="line1 justy_center banner_margin">
      <img src="../../../assets/img/e-booth/platinum_banner.png">
    </div>
    <div class="line5 booth_line_margin justy_center">
      <img src="../../../assets/img/e-booth/platinum_booth1.png" (click)="getDetailV2('6141441efa3182001279e419')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line5 booth_line_margin">
      <img src="../../../assets/img/e-booth/platinum_booth2.png" (click)="getDetailV2('6141462afa3182001279e41a')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/platinum_booth3.png" (click)="getDetailV2('61429ce3fa3182001279e506')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line5">
      <img src="../../../assets/img/e-booth/platinum_booth4.png" (click)="getDetailV2('61414650fa3182001279e41c')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/platinum_booth5.png" (click)="getDetailV2('6141466afa3182001279e41d')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <a href="https://peoplenvalue.ovice.in/lobby/enter" target="_blank">
      <div class="exhibition_btn"></div>
    </a>
  </div>
  <div class="section3">
    <div class="banner_line2 justy_center">
      <img src="../../../assets/img/e-booth/gold_banner.png" alt="">
    </div>
    <div class="line3 booth_line_margin justy_center">
      <img src="../../../assets/img/e-booth/gold_booth1.png" (click)="getDetailV2('61414677fa3182001279e41e')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/gold_booth2.png" (click)="getDetailV2('6141467efa3182001279e41f')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line3 booth_line_margin justy_center">
      <img src="../../../assets/img/e-booth/gold_booth3.png" (click)="getDetailV2('61414686fa3182001279e420')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/gold_booth4.png" (click)="getDetailV2('61414d94fa3182001279e422')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line3 booth_line_margin justy_center">
      <img src="../../../assets/img/e-booth/gold_booth5.png" (click)="getDetailV2('61414daefa3182001279e423')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/gold_booth6.png" (click)="getDetailV2('61414db7fa3182001279e424')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line3 justy_center">
      <img src="../../../assets/img/e-booth/gold_booth7.png" (click)="getDetailV2('61414dc0fa3182001279e425')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/gold_booth8.png" (click)="getDetailV2('61414dc8fa3182001279e426')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <a href="https://peoplenvalue.ovice.in/lobby/enter" target="_blank">
      <div class="exhibition_btn"></div>
    </a>
  </div>
  <div class="section4">
    <div class="line4 booth_line_margin">
      <img src="../../../assets/img/e-booth/silver_booth1.png" (click)="getDetailV2('614beb07125e990012d56bb3')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/silver_booth2.png" (click)="getDetailV2('614bebc9125e990012d56bb4')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/silver_booth3.png" (click)="getDetailV2('61428537fa3182001279e4fe')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line4 booth_line_margin">
      <img src="../../../assets/img/e-booth/silver_booth4.png" (click)="getDetailV2('614c2297125e990012d56c10')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/silver_booth5.png" (click)="getDetailV2('614c251b125e990012d56c31')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/silver_booth6.png" (click)="getDetailV2('614c2e3a125e990012d56c82')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line4 booth_line_margin">
      <img src="../../../assets/img/e-booth/silver_booth7.png" (click)="getDetailV2('614c2f6b125e990012d56c91')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/silver_booth8.png" (click)="getDetailV2('614c30c1125e990012d56ca4')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/silver_booth9.png" (click)="getDetailV2('6142861afa3182001279e4ff')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line4 booth_line_margin">
      <img src="../../../assets/img/e-booth/silver_booth10.png" (click)="getDetailV2('614d0966125e990012d56ce2')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/silver_booth11.png" (click)="getDetailV2('614d0a04125e990012d56ce4')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/silver_booth12.png" (click)="getDetailV2('6142988afa3182001279e504')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line4 booth_line_margin">
      <img src="../../../assets/img/e-booth/silver_booth13.png" (click)="getDetailV2('614d0d85125e990012d56cea')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/silver_booth14.png" (click)="getDetailV2('614d0ded125e990012d56ceb')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/silver_booth15.png" (click)="getDetailV2('614d0e81125e990012d56ced')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line4 ">
      <img src="../../../assets/img/e-booth/silver_booth16.png" (click)="getDetailV2('614d0f56125e990012d56cee')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/silver_booth17.png" (click)="getDetailV2('614d0f81125e990012d56cef')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/silver_booth18.png" (click)="getDetailV2('614d105c125e990012d56cf0')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
  </div>
  <div class="section5" *ngIf="boothsOfStamp">
    <div class="note">
      <img class="stamp_title" src="../../../assets/img/e-booth/stamps/stamp_title.png">
      <div class="note_circle"></div>
      <div class="inner">
        <ng-container *ngFor="let booths of boothsOfStamp; let i=index">
          <div class="stamp_line">
            <ng-container *ngFor="let booth of booths; let j=index">
              <img [src]="
              '../../../assets/img/e-booth/stamps/stamp_'
              + (booth.visit?'on':'off')
              + ((i*5) + (j+1))
              + '.png'
              ">
            </ng-container>
          </div>
        </ng-container>
        <!-- <div class="stamp_line">
          <img src="../../../assets/img/e-booth/stamps/stamp_off1.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off2.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off3.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off4.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off5.png" alt="">
        </div>
        <div class="stamp_line">
          <img src="../../../assets/img/e-booth/stamps/stamp_off6.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off7.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off8.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off9.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off10.png" alt="">
        </div>
        <div class="stamp_line">
          <img src="../../../assets/img/e-booth/stamps/stamp_off11.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off12.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off13.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off14.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off15.png" alt="">
        </div> -->
      </div>
    </div>
  </div>
</div>

<!-- ! ---------------------------Publish END--------------------------- -->
<!-- <article>
  <div class="list-wrapper row m-0">
    <div class="list-item px-3" *ngFor="let booth of categories2">
      <div class="sponsor-wrapper" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2(booth.id)">
        <figure>
          <div class="image-wrapper">
            <img [src]="booth.photoUrl" [alt]="booth.name">
          </div>
        </figure>
      </div>
    </div>
  </div>
</article> -->

<!-- <div class="my-page-inner stamp-tour" *ngIf="user && user.isStamp">
  <h3 class="text-center stamp-tour-title">STAMP TOUR CHECK LIST</h3>
  <div class="info-inner">
    <div class="stamp-list row m-0">
      <ng-container *ngFor="let booth of boothsOfStamp">
        <div class="stamp-item px-1" [ngClass]="{'opacity': booth.visit, 'visited':booth.visit}">
          <img class="spon-logo" [ngClass]="{'opacity': booth.visit}" [src]="booth.photoUrl" [alt]="booth.name">
          <img *ngIf="booth.visit" class="stamp-icon" src="assets/img/e-booth/imgs/stamp.png" alt="스탬프이미지">
        </div>
      </ng-container>
    </div>
  </div>
</div> -->

<!-- ! e-booth modal -->
<div class="modal detail-modal fade" id="e-boothModal" tabindex="-1" role="dialog" aria-labelledby="e-boothModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="e-booth">
          <div class="image-wrapper">
            <img [src]="selectedBooth?.photoUrl+'?'+random || ''" alt="{{selectedBooth?.name || ''}}">
            <div class="item-info">
              <p class="item-name">{{selectedBooth?.name || ''}}</p>
            </div>
          </div>
          <div class="item-inner">
            <div class="attachments" *ngIf="attachments.length">
              <div>
                <a *ngFor="let attachment of attachments" class="download" target="_blank" title="{{attachment.title}}"
                  [href]="attachment.contentUrl" download="{{attachment.title}}">
                  <i class="icon-clip"></i>
                  <span class="ellipsis">{{attachment.title}}</span>
                </a>
              </div>
            </div>
          </div>
        </figure>
        <div class="item-desc">
          <div class="iframe-wrapper" id="boothModalDesc"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ! 당첨 모달 버튼 -->
<button #winAlertBtn class="win-alert-btn" data-toggle="modal" data-target="#winAlert">
  win modal open
</button>

<!-- ! 당첨 모달 -->
<div class="modal win-alert fade" id="winAlert" data-backdrop="static" role="dialog" aria-labelledby="winAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-description">
          <p class="mb-2 text-center">
            스탬프투어가 완료되었습니다.
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#winAlert">
          확인
        </button>
      </div>
    </div>
  </div>
</div>


<!-- ! 진입 시 최초 모달 버튼 -->
<button #initAlertBtn class="win-alert-btn" data-toggle="modal" data-target="#initAlert">
  init modal open
</button>

<!-- ! 진입 시 최초 모달 -->
<div class="modal win-alert fade" id="initAlert" data-backdrop="static" role="dialog" aria-labelledby="initAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center init-modal-dialog" role="document">
    <div class="modal-content not-drag init-modal-content">
      <div class="modal-body p-0">
        <div class="modal-description">
          <p class="mb-2 text-center">
            <span style="font-size:24px;">E-Booth Tour​</span><br><br>
            Join the tour virtually experiencing exhibitions from leading medical<br>
            and pharmaceutical companies.<br>
            There will be stamps to collect as you tour the e-booths.<br>
            ICDM&AASD 2021 will give out gift cards to participants<br>
            Who have collected 5 stamps. (Login ONLY!)
          </p>
          <hr class="init-modal">
          <p class="mb-2 text-center">
            &#42; international Participants: Amazon Gift Card &#40;Online&#41; &#40;$30&#41;<br><br>
            &#42; Korean Participants: Starbucks Gift Card &#40;&#8361;30,000&#41;
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn init-modal-btn" data-toggle="modal"
          data-target="#initAlert">
          Go to E-booth Tour!
        </button>
        <div class="not-open-today">
          <button (click)="notOpenOneDay()" data-toggle="modal" data-target="#initAlert">
            Do not open for a day
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
