<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2 class="vod">Video On Demand<br class="d-block d-sm-none">
          <!-- <span class="vod-title-label"><i aria-hidden="true" class="icon-warning"></i><span class="slideX">본 세션은 평점이
              인정되지 않는 세션입니다.</span> </span> -->
        </h2>
      </div>
    </div>
    <article>
      <div class="content-inner">
        <div class="category" *ngFor="let category of categories">
          <div class="category-title" *ngIf="category.categoryName">{{category.categoryName}}</div>
          <div class="vod-group-wrapper">
            <div *ngFor="let vod of category.vods" class="vod-group">
              <div class="img_box" (click)="vod.contents ? goDetail(vod) : ''">
                <img [src]="vod.thumbnailUrl || '/assets/img/thumbnail_temp.png'" alt="thumbnail_img"
                  class="rounded float-left thumbnail_style">

                <div *ngIf="vod.isOnOff; else isOffAir" class="is-on-off bg-danger text-white">ON</div>
                <ng-template #isOffAir>
                  <div class="is-on-off bg-dark text-white">OFF</div>
                </ng-template>
              </div>
              <div class="vod thumbnail_title_style">
                <div class="vod-info">
                  <div class="title title-click" *ngIf="vod.title" (click)="vod.contents ? goDetail(vod) : ''"
                    [innerHTML]="vod.title | safeHtml">
                  </div>

                  <div class="description" [innerHtml]="vod.description"></div>
                </div>
                <div class="speakers" *ngIf="vod.speakers">
                  <div class="speaker" *ngFor="let speaker of vod.speakers">
                    <div *ngIf="speaker.fullName" class="speaker-name">{{speaker.fullName}}</div>
                    <div *ngIf="speaker.company" class="speaker-company">{{speaker.company}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
